<div class="col">
  <h1 class="mt-4">Search Results</h1>
  <div class="col">
    <%= display_search_parameters(@total_results, params) %>
  </div>

  <hr />

  <div class="row">
    <% if @instructors.size > 0 %>
	    <div class="col-xs-12 col-sm-12 col-md-2 border-right">
        <h3><%= pluralize(@instructors.count, "instructor").capitalize %></h3>
        <% @instructors.each do |instructor| %>
          <%= link_to instructor.nickname_or_name, instructor, class: 'btn btn-light' %>
        <% end %>
      </div>
    <% end %>

    <% if @tags.size > 0 %>
			  <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
          <h3><%= pluralize(@tags.count, "tag").capitalize %></h3>
          <% @tags.each do |tag| %>
            <%= link_to tag.full_name, tag, class: 'tag' %>
          <% end %>
        </div>
    <% end %>

  </div>

  <% if @links.size > 0 %>
    <div class="row">
      <div class="col">
        <h3><%= pluralize(@links.count, "video").capitalize %></h3>
        <% @links.each do |link| %>
          <%= render partial: 'search/link_search_result', locals: { link: link } %>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if @private_notes.size > 0 %>
    <hr />
    <div class="row mt-2 mb-1">
      <div class="col">
        <h3 class="mb-2">
          <%= pluralize(@private_notes.count, "notebook entry").capitalize %>
          <small class="text-muted">(only you can see your notes)</small>
        </h3>
        <div class="container">
          <div class="card-columns">
            <% @private_notes.each do |note| %>
              <%= render partial: 'search/private_note_search_result', locals: { note: note } %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>


</div>
