<%= form_with(model: instructor, local: true) do |form| %>
  <% if instructor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(instructor.errors.count, "error") %> prohibited this instructor from being saved:</h2>

      <ul>
      <% instructor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group form-row">
    <%= form.label :name, class: 'col-form-label-lg' %>
    <%= form.text_field :name, :autofocus => true, class: 'form-control', required: true %>
    <small id="instructor_name_help" class="form-text text-muted w-100">Unique name for every instructor.</small>
    <div id="instructor_name_validation" class="w-100">
      Instructor name already taken
    </div>
  </div>

  <div class="form-group form-row">
    <%= form.label :nickname, class: 'col-form-label-lg' %>
    <%= form.text_field :nickname, class: 'form-control' %>
  </div>

  <div class="form-group form-row">
    <%= form.label :instagram, class: 'col-form-label-lg' %>
    <%= form.text_field :instagram, class: 'form-control' %>
    <small id="instructor_instagram_help" class="form-text text-muted w-100">Just the Instagram handle (eg. @elubow).</small>
  </div>

  <div class="form-group form-row">
    <%= form.label :youtube, class: 'col-form-label-lg' %>
    <%= form.text_field :youtube, class: 'form-control' %>
    <small id="instructor_youtube_help" class="form-text text-muted w-100">Just the Youtube channel (eg. ericlubow).</small>
  </div>

  <div class="form-group form-row">
    <%= form.label :facebook, class: 'col-form-label-lg' %>
    <%= form.text_field :facebook, class: 'form-control' %>
    <small id="instructor_facebook_help" class="form-text text-muted w-100">The entire facebook link.</small>
  </div>

  <div class="form-group form-row">
    <%= form.label :twitter, class: 'col-form-label-lg' %>
    <%= form.text_field :twitter, class: 'form-control' %>
    <small id="instructor_twitter_help" class="form-text text-muted w-100">Just the Twitter handle (eg. @elubow).</small>
  </div>

  <div class="form-group form-row">
    <%= form.label :description, class: 'col-form-label-lg' %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <div class="form-group mt-4">
    <%= form.submit 'Save Instructor', class: 'btn btn-secondary' %>
  </div>
<% end %>
