<div class="col">

  <h1 class="mt-4"><%= title "Instructors" %></h1>
  <% if current_user %>
    <%= link_to 'New Instructor', new_instructor_path, class: 'btn btn-secondary float-right mb-2' %>
  <% end %>
  
  <%= form_with url: search_instructors_path, method: :get do |f|%>
    <%= f.text_field :instructor_search %>
    <div style="display:none;"><%= f.submit id: 'submit-search' %></div>
  <% end %>
  
  <div id="instructor-display"><%= render partial: 'instructors/list', locals: { instructors: @instructors } %></div>

  <div class="row">
    <div class="col">
      <div id="pagy-div" class="d-flex justify-content-center">
        <%== pagy_nav_bootstrap(@pagy) %>
      </div>
    </div>
  </div>
 
<% if current_user %>
  <%= link_to 'New Instructor', new_instructor_path, class: 'btn btn-secondary' %>
<% end %>
