<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @instructor.name %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @instructor.nickname %>
</p>

<p>
  <strong>Description:</strong>
  <%= @instructor.description %>
</p>

<%= link_to 'Edit', edit_instructor_path(@instructor) %> |
<%= link_to 'Back', instructors_path %>
