<% title "Videos taught by #{@instructor.display_name}" %>
<% description @instructor.description %>
<% set_meta_tags canonical: request.url %>
<% set_meta_tags keywords: [@instructor.display_name] %>
<% set_meta_tags og: {
  title: "Videos taught by #{@instructor.display_name}",
  description: truncate(@instructor.description, length: 254, separator: /\w+/),
} %>


<div class="col">
  <h1 class="mt-4">
    <%= @instructor.display_name %>
  </h1>

  <h4 class="ml-4 mb-3">
    <%= social_media_helper_short(@instructor) %>
  </h4>

  <% if @instructor.has_videos? %>
    <%= image_tag(@instructor.links.first.thumbnail_image_location(), alt: @instructor.display_name, class: 'link_image') %>
  <% end %>
  
  <% if @instructor.description? %>
  <p class="mt-2">
    <%= @instructor.description %>
  </p>
  <% end %>
  
  <% if current_user %>
    <div class="row">
      <div class="col-9">
      </div>
      <div class="col-3 text-right">
        <% if current_user.moderator? or current_user.admin? %>
          <%= link_to 'Edit', edit_instructor_path(@instructor), class: 'btn btn-primary' %>
        <% end %>
        <% if current_user.admin? %>
          | <%= link_to 'Delete', @instructor, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if @instructor.has_videos? %>
    <h4 class="mt-2"><%= pluralize(@instructor.video_count, "Videos").titleize %></h4>
    <%= render partial: 'links/list', locals: {links: @instructor.links} %>
  <% else %>
    <p>
    If you can believe it, <strong><%= @instructor.name %></strong> hasn't put out a single video.
    </p>
    <p>
      <% if current_user %>
        <%= link_to "Add Video", new_link_path, class: 'btn btn-primary' %>
      <% end %>
    </p>
  <% end %>
</div>
