<td><%= link_to user.name, user %></td>
<td><%= link_to user.email, user %></td>
<td><%= link_to user.belt, user %></td>
<td><%= link_to user.gender, user %></td>
<td><%= time_ago_in_words(user.created_at) %> ago</td>
<td><%= user.links.count %></td>
<td><%= user.login_activities.where(success: true).count %></td>
<td><%= time_ago_in_words(user.login_activities.where(success: true).order(created_at: :desc).limit(1).first.created_at) if user.login_activities.present? %> ago</td>
<td><%= user.deleted_at? %></td>
