<%= form_with(model: link, local: true) do |form| %>
  <% if link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(link.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group form-row">
    <%= form.label :title, class: 'col-form-label-lg' %>
    <%= form.text_field :title, class: 'form-control', required: true %>
    <small id="link_title_help" class="form-text text-muted">This is the video title.</small>
    <div class="invalid-feedback">
      Video must have a title.
    </div>
  </div>

  <div class="form-group form-row">
    <%= form.label :url, class: 'col-form-label-lg' %>
    <%= form.text_field :url, class: 'form-control', required: true %>
    <small id="link_url_help" class="form-text text-muted">URL of the video.</small>
  </div>

  <div class="form-group form-row">
    <%= form.label :tags, class: 'col-form-label-lg' %>
    <%= form.select :tag_ids,
      Tag.all.map {|t|  [t.full_name, t.id]},
      { include_blank: true },
      { multiple: true, required: true }
    %>
    <small id="link_url_help" class="form-text text-muted">Add all the tags that relate to this video. If you don't see a tag that should be there, ask one of the admins to fix it.</small>
  </div>

  <div class="form-group form-row">
    <%= form.label :description, class: 'col-form-label-lg' %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit 'Save Video', class: 'btn btn-primary' %>
  </div>
<% end %>
