<table class="table">
  <thead>
    <tr>
      <th>Video</th>
      <th>Title</th>
      <th>Instructor</th>
      <th>Description</th>
      <th>Tags</th>
      <% if @current_user and (@current_user.moderator? or @current_user.admin?) %>
        <th colspan="2">Actions</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% links.each do |link| %>
      <tr>
        <td><%= link_to "Video", link.url, target: '_blank' %></td>
        <td><%= link_to link.title, link %></td>
        <td>
          <% if link.has_instructors? %>
            <% link.instructors.each do |i| %>
              <%= link_to i.display_name, i, class: 'btn btn-light btn-sm' %>
            <% end %>
          <% end %>
        </td>
        <td>
          <% if link.description_exists? %>
            <%= truncate(link.show_description, length: 255, separator: /\w+/) %>
          <% end %>
        </td>
        <td>
          <% link.tags.each do |tag| %>
            <%= link_to "#{tag.full_name}", tag, class: 'tag' %>
          <% end %>
        </td>
        <% if @current_user %>
          <% if (@current_user.moderator? or @current_user.admin?) or @current_user == link.user %>
            <td><%= link_to 'Edit', edit_link_path(link), class: 'btn btn-primary' %></td>
            <td>
              <%= render partial: 'shared/delete_modal', locals: { model: link } %>
            </td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
