  <!-- start related videos -->
  <% if @link.has_instructors? and @link.videos_by_instructors.count > 0 %>
    <div class="card my-4">
      <h5 class="card-header">Videos From The Same <%= "instructor".pluralize(@link.instructors.count).capitalize %></h5>
      <div class="card-body">
        <ul>
          <% @link.videos_by_instructors(5).each do |l| %>
            <li><%= link_to l.title, l %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if @link.has_start_position_not_in_submission? and @link.has_end_position_same_as_start_position_videos? %>
    <div class="card my-4">
      <h5 class="card-header">How To Get Here</h5>
      <div class="card-body">
        <ul>
          <% @link.end_position_same_as_start_position(5).each do |l| %>
            <li><%= link_to l.title, l %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if @link.has_start_position_not_in_submission? and @link.has_same_start_position_videos? %>
    <div class="card my-4">
      <h5 class="card-header">Similar Starting Position</h5>
      <div class="card-body">
        <ul>
          <% @link.same_start_position(5).each do |l| %>
            <li><%= link_to l.title, l %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if @link.has_end_position_not_in_submission? and @link.has_videos_starting_from_end_position? %>
    <div class="card my-4">
      <h5 class="card-header">Next Steps from <%= Tag.find(@link.get_end_position_id).clean_name %></h5>
      <div class="card-body">
        <ul>
          <% @link.videos_starting_from_end_position.each do |l| %>
            <li><%= link_to l.title, l %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if @link.has_end_position? and @link.has_escape_from_submission? %>
    <div class="card my-4">
      <h5 class="card-header">Escapes from <%= Tag.find(@link.submission_id).clean_name %></h5>
      <div class="card-body">
        <ul>
          <% @link.videos_starting_from_submission.each do |l| %>
            <li><%= link_to l.title, l %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if !related_drill_videos.empty? %>
    <div class="card my-4">
      <h5 class="card-header">Related Drills</h5>
      <div class="card-body">
        <ul>
          <% related_drill_videos.each do |l| %>
            <li><%= link_to l.title, l %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <!-- end related videos -->
