  <!-- start related videos -->
  <% if has_start_position?(@link) and has_end_position_same_as_start_position_videos?(@link) %>
    <div class="card my-4">
      <h5 class="card-header">How To Get Here</h5>
      <div class="card-body">
        <ul>
          <% end_position_same_as_start_position(@link).each do |l| %>
            <li><%= link_to l.title, l %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if has_start_position?(@link) and has_same_start_position_videos?(@link) %>
    <div class="card my-4">
      <h5 class="card-header">Similar Starting Position</h5>
      <div class="card-body">
        <ul>
          <% same_start_position(@link).each do |l| %>
            <li><%= link_to l.title, l %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if has_end_position?(@link) %>
    <div class="card my-4">
      <h5 class="card-header">Next Steps from <%= Tag.find(get_end_position_id(@link)).clean_name %></h5>
      <div class="card-body">
        <ul>
          <% same_end_position(@link).each do |l| %>
            <li><%= link_to l.title, l %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if has_drills?(@link) %>
    <div class="card my-4">
      <h5 class="card-header">Drills for <%= Tag.find(get_end_position_id(@link)).clean_name %></h5>
      <div class="card-body">
        <ul>
          <% same_end_position(@link).each do |l| %>
            <li><%= link_to l.title, l %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <!-- end related videos -->
