<div class="col">
  <h1 class="mt-4">Links</h1>
  
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Video</th>
        <th>Title</th>
        <th>Tags</th>
        <th>Added By</th>
        <% if @current_user and (@current_user.moderator? or @current_user.admin?) %>
          <th colspan="2">Actions</th>
        <% end %>
      </tr>
    </thead>
  
    <tbody>
      <% @links.each do |link| %>
        <tr>
          <td><%= link_to "Video", link.url %></td>
          <td><%= link_to link.title, link %></td>
          <td>
            <% link.tags.each do |tag| %>
              <%= link_to "#{tag.category}::#{tag.name}", tag %>
            <% end %>
          </td>
          <td><%= link.user.name %> - <%= time_ago_in_words(link.created_at) %> ago</td>
          <% if @current_user and (@current_user.moderator? or @current_user.admin?) %>
            <td><%= link_to 'Edit', edit_link_path(link) %></td>
            <td><%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <br />
  
  <%= link_to 'New Link', new_link_path, class: 'btn btn-primary btn-large' %>

  <br />
  <br />

</div>
