<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @link.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @link.url %>
</p>

<p>
  <strong>Location:</strong>
  <%= @link.location %>
</p>

<p>
  <strong>Tags:</strong>
  <% @link.tags.each do |tag| %>
    <%= link_to "#{tag.category}::#{tag.name}", tag %>
  <% end %>
</p>

<p>
  <strong>Description:</strong>
  <%= @link.description %>
</p>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>

<hr>

<h2>
  Comments
  (<%= @comments.count %>)
</h2>

<% @comments.each do |c| %>
  <p><%= c.user.name %> says:</p>
  <p><%= c.body %></p>
  <p>
    <%= link_to 'Edit', edit_comment_path(c) %>
    <%= link_to 'Delete', comment_path(c), method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>
  --
<% end if @comments.count > 0%>
<% if current_user %>
  <%= render partial: 'comments/form', locals: { comment: @comment } %>
<% else %>
  Must be logged in to comment.
<% end %>
