<% title @link.title %>
<% description truncate(@link.show_description, length: 254, separator: /\w+/) %>
<% set_meta_tags canonical: request.url %>
<% set_meta_tags keywords: @link.tags.map{|t| t.full_name} %>
<% set_meta_tags og: {
  title: @link.title,
  description: truncate(@link.show_description, length: 254, separator: /\w+/),
  type: 'article',
  url: @link.url
} %>
<% set_meta_tags article: {
  published_time: @link.created_at,
  modified_time: @link.updated_at
} %>

<div class="col-lg-8">
  <h1 class="mt-4"><%= @link.title %></h1>

  <div class="row">
    <div class="col-6 mt-auto">
      <% if @link.has_instructors? %>
        <ul class="list-group">
          <% @link.instructors.each do |i| %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <%= link_to i.display_name, i, class: 'btn btn-light btn-sm' %>
              <span class="badge bage-primary badge-bill">
                <%= link_to i.video_count, i %>
              </span>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <div class="col-6 text-right mt-auto">
      <% if @current_user %>
        <span id="favorited-bar"><%= render partial: 'favorites/favorited_bar', locals: { link: @link, user: @current_user } %></span>
        |
        <%= render partial: 'ratings/rate' %>
        |
      <% end %>

      <% if @current_user and (@current_user.moderator? or @current_user.admin?) %>
        <%= link_to 'Edit', edit_link_path(@link), class: 'btn btn-primary' %> |
        <%= link_to 'Delete', @link, method: :delete, data: {confirm: 'Deleting this link is irreversible. Are you sure?'}, class: 'btn btn-danger btn-sm' %>
      <% end %>
    </div>
  </div>
  
  <hr />
  
  <div class="row">
    <div class="col-7 text-left">
  Added by <%= link_to @link.user.name, @link.user %>
  on <%= @link.created_at.strftime("%Y-%b-%d") %>
    </div>
    <div class="col-5 text-right">
      <span id="favorites-count" onClick="document.getElementById('favorited-bar').childNodes[1].click()"><%= pluralize(@link.favorites_count, "favorite") %></span>
      |
      <%= pluralize(@link.impressions.count, "view") %>
      |

      <span id="ratings-display"><%= @link.get_current_rating %></span> stars (<span id="total-ratings"><%= pluralize(@link.ratings.count, "rating") %></span>)
    </div>
  </div>
  
  <hr />

  <p>
    <%= link_to image_tag(@link.thumbnail_image_location(), alt: @link.title, class: "link_image"), @link.url, target: '_blank' %>
  </p>

  <p>
    <strong>via</strong>
    <% if @link.has_favicon? %>
      <%= image_tag(@link.thumbnail.favicon, height: '32px', width: '32px', alt: @link.description) %>
    <% else %>
      <%= @link.location %>
    <% end %>
  </p>
  
  <p>
    <strong>Tags:</strong>
    <% @link.tags.each do |tag| %>
      <%= link_to "#{tag.category}::#{tag.name}", tag, class: 'tag' %>
    <% end %>
  </p>
  
  <% if @link.description_exists? %>
    <hr />
    
    <p>
      <%= @link.show_description %>
    </p>
  <% end %>
  
  <hr>
  
  <h2>
    <%= pluralize(@comments.count, "Opinion") %>
  </h2>
  
  <% if current_user %>
    <%= render partial: 'comments/form', locals: { comment: @comment } %>
  <% else %>
    Must be logged in to comment.
  <% end %>
  
  <% @comments.each do |c| %>
    <div class="media mb-4">
      <img class="d-flex mr-3 rounded-circle" src="https://placehold.it/50x50" alt>
      <div class="media-body">
        <h5 class="mt-0"><%= c.user.name %></h5>
        <h6><%= time_ago_in_words(c.created_at) %></h5>
        <p><%= c.body %></p>
        <% if current_user and c.user == current_user %>
          <p>
            <%= link_to 'Edit', edit_comment_path(c) %>
            <%= link_to 'Delete', comment_path(c), method: :delete, data: { confirm: 'Are you sure?' } %>
          </p>
        <% end %>
      </div>
    </div>
  <% end if @comments.count > 0%>
</div>  

<!-- sidebars -->
<div class="col-md-4">
  <h2 class="mt-4">Other Stuff To Do</h2>
  <% if current_user %>
    <%= render template: 'private_notes/link_notebook', locals: { private_note: @private_note, link: @link, private_notes: @private_notes } %>
  <% end %>

  <%= render partial: 'links/related_videos', locals: { link: @link } %>
</div>
