<% title @link.title %>
<% description truncate(@link.show_description, length: 254, separator: /\w+/) %>
<% set_meta_tags canonical: request.url %>
<% set_meta_tags keywords: @link.tags.map{|t| t.full_name} %>
<% set_meta_tags og: {
  title: @link.title,
  description: truncate(@link.show_description, length: 254, separator: /\w+/),
  type: 'article',
  url: @link.url,
  image: @link.thumbnail.source
} %>
<% set_meta_tags article: {
  published_time: @link.created_at,
  modified_time: @link.updated_at
} %>

<div class="col-lg-8">
  <h1 class="mt-4"><%= @link.title %></h1>
  
  <% if @current_user and (@current_user.moderator? or @current_user.admin?) %>
    <%= link_to 'Edit', edit_link_path(@link) %> |
    <%= link_to 'Delete', @link, method: :delete, data: {confirm: 'Deleting this link is irreversible. Are you sure?' } %>
  <% end %>
  
  <hr />
  
  <p>
  Added by <%= link_to @link.user.name, @link.user %>
  on <%= @link.created_at.strftime("%Y-%b-%d") %>
  </p>
  
  <hr />

  <p>
    <%= link_to image_tag(@link.thumbnail_image_location(400,375), alt: @link.title, height: '375px', width: '400px'), @link.url, target: '_blank' %>
  </p>

  <p>
    <strong>via</strong>
    <%= @link.location %>
  </p>
  
  <p>
    <strong>Tags:</strong>
    <% @link.tags.each do |tag| %>
      <%= link_to "#{tag.category}::#{tag.name}", tag, class: 'tag' %>
    <% end %>
  </p>
  
  <% if @link.description_exists? %>
    <hr />
    
    <p>
      <%= @link.show_description %>
    </p>
  <% end %>
  
  <hr>
  
  <h2>
    <%= pluralize(@comments.count, "Opinion") %>
  </h2>
  
  <% if current_user %>
    <%= render partial: 'comments/form', locals: { comment: @comment } %>
  <% else %>
    Must be logged in to comment.
  <% end %>
  
  <% @comments.each do |c| %>
    <div class="media mb-4">
      <img class="d-flex mr-3 rounded-circle" src="https://placehold.it/50x50" alt>
      <div class="media-body">
        <h5 class="mt-0"><%= c.user.name %></h5>
        <h6><%= time_ago_in_words(c.created_at) %></h5>
        <p><%= c.body %></p>
        <% if current_user and c.user == current_user %>
          <p>
            <%= link_to 'Edit', edit_comment_path(c) %>
            <%= link_to 'Delete', comment_path(c), method: :delete, data: { confirm: 'Are you sure?' } %>
          </p>
        <% end %>
      </div>
    </div>
  <% end if @comments.count > 0%>
</div>  

<!-- sidebars -->
<div class="col-md-4">
  <h2 class="mt-4">Other Stuff To Do</h2>
  <%= render partial: 'links/related_videos', locals: { link: @link } %>
</div>
