<%= form_with(model: tag, local: true) do |form| %>
  <% if tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tag.errors.count, "error") %> prohibited this tag from being saved:</h2>

      <ul>
      <% tag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group form-row">
    <%= form.label :category, class: 'col-form-label-lg' %>
    <%= form.select :category,
      Tag.distinct.pluck(:category).sort.map{|t|  [t, t]},
      {required: true} %>
    <small id="tag_category_help" class="form-text text-muted">High level category of the tag.</small>
  </div>

  <div class="form-group form-row">
    <%= form.label :name, class: 'col-form-label-lg' %>
    <%= form.text_field :name, class: 'form-control', required: true %>
  </div>

  <div class="form-group form-row">
    <%= form.label :description, class: 'col-form-label-lg' %>
    <%= form.text_area :description, class: 'form-control', required: true %>
  </div>

  <div class="actions">
    <%= form.submit 'Save Tag', class: 'btn btn-primary' %>
  </div>
<% end %>
