<div class="col">

  <h1 class="mt-4">Tags</h1>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Videos</th>
        <th>Category</th>
        <th>Name</th>
        <th>Description</th>
        <% if @current_user and (@current_user.moderator? or @current_user.admin?) %>
          <th colspan="2">Actions</th>
        <% end %>
      </tr>
    </thead>
  
    <tbody>
      <% @tags.each do |tag| %>
        <tr>
          <td><%= link_to tag.links.count, tag %></td>
          <td><%= link_to tag.category, tag %></td>
          <td><%= link_to tag.name, tag %></td>
          <td><%= tag.description %></td>
          <% if @current_user %>
            <% if @current_user.moderator? or @current_user.admin? %>
              <td><%= link_to 'Edit', edit_tag_path(tag), class: 'btn btn-primary' %></td>
            <% end %>
            <% if @current_user.admin? %>
              <td>
                <%= render partial: 'shared/delete_modal', locals: { model: tag } %>
              </td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  
   <div class="d-flex justify-content-center">
    <%== pagy_nav_bootstrap(@pagy) %>
  </div>
  
  <%= link_to 'New Tag', new_tag_path, class: 'btn btn-primary btn-large' %>

  <br />
  <br />

</div>
