<div class="col-lg-8">
  <h1 class="mt-4">
    <%= @tag.category.capitalize %> - <%= @tag.name.capitalize %>
  </h1>

  <p>
    <strong>Category:</strong>
    <%= @tag.category %>
  </p>
  
  <p>
    <strong>Name:</strong>
    <%= @tag.name %>
  </p>
  
  <p>
    <strong>Description:</strong>
    <%= @tag.description %>
  </p>
  
  <% if @current_user and (@current_user.moderator? or @current_user.admin?) %>
    <%= link_to 'Edit', edit_tag_path(@tag) %> |
  <% end %>
  <% if @current_user and @current_user.admin? %>
    <%= link_to 'Delete', @tag, method: :delete, data: {confirm: 'Deleting this tag is irreversible. Are you sure?' } %>
  <% end %>
  
  <br />
  <br />
  
  <h2>
    Links
    (<%= @tag.links.count %>)
  </h2>
  
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Video</th>
        <th>Title</th>
        <th>Tags</th>
        <% if @current_user and (@current_user.moderator? or @current_user.admin?) %>
          <th colspan="2">Actions</th>
        <% end %>
      </tr>
    </thead>
  
    <tbody>
      <% @tag.links.each do |link| %>
        <tr>
          <td><%= link_to "Video", link.url %></td>
          <td><%= link_to link.title, link %></td>
          <td>
            <% link.tags.each do |tag| %>
              <%= link_to "#{tag.category}::#{tag.name}", tag, class: 'tag' %>
            <% end %>
          </td>
          <% if @current_user and (@current_user.moderator? or @current_user.admin?) %>
            <td><%= link_to 'Edit', edit_link_path(link) %></td>
            <td><%= link_to 'Delete', link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <% if @tag.links.count == 0 %>
    I'm lonely. People must not like me.
  <% end %>
</div>

<!-- sidebars -->
<div class="col-md-4">
  <div class="card my-4">
    <h5 class="card-header">Related Stuff</h5>
    <div class="card-body">
      This is where some tag shit will go.
    </div>
  </div>
</div>
