<div class="col-lg-8">
  <h1 class="mt-4">
    <%= @tag.category.capitalize %> - <%= @tag.name.capitalize %>
  </h1>

  <p>
    <strong>Category:</strong>
    <%= @tag.category %>
  </p>
  
  <p>
    <strong>Name:</strong>
    <%= @tag.name %>
  </p>
  
  <p>
    <strong>Description:</strong>
    <%= @tag.description %>
  </p>
  
  <% if @current_user and (@current_user.moderator? or @current_user.admin?) %>
    <%= link_to 'Edit', edit_tag_path(@tag) %> |
  <% end %>
  <% if @current_user and @current_user.admin? %>
    <%= link_to 'Delete', @tag, method: :delete, data: {confirm: 'Deleting this tag is irreversible. Are you sure?' } %>
  <% end %>
  
  <br />
  <br />

  <%= render partial: 'links/list', locals: { links: @tag.links } %>
  
</div>

<!-- sidebars -->
<div class="col-md-4">
  <div class="card my-4">
    <h5 class="card-header">Related Stuff</h5>
    <div class="card-body">
      This is where some tag shit will go.
    </div>
  </div>
</div>
