<% title "Videos tagged with #{@tag.full_name}" %>
<% description @tag.description %>
<% set_meta_tags canonical: request.url %>
<% set_meta_tags keywords: [@tag.full_name] %>
<% set_meta_tags og: {
  title: "Videos tagged with #{@tag.full_name}",
  description: truncate(@tag.description, length: 254, separator: /\w+/),
} %>

<div class="col-lg-8">
  <h1 class="mt-4">
    <%= @tag.category.capitalize %> - <%= @tag.name.capitalize %>
  </h1>

  <% if @current_user %>
    <% if @current_user.moderator? or @current_user.admin? %>
      <%= link_to 'Edit', edit_tag_path(@tag) %>
    <% end %>
    <% if @current_user.admin? %>
      | <%= link_to 'Delete', @tag, method: :delete, data: {confirm: 'Deleting this tag is irreversible. Are you sure?' } %>
    <% end %>
  <% end %>
 
  <p>
    <strong>Category:</strong>
    <%= @tag.category %>
  </p>
  
  <p>
    <strong>Name:</strong>
    <%= @tag.name %>
  </p>
  
  <p>
    <strong>Description:</strong>
    <%= @tag.description %>
  </p>
  
  <% if @tag.links.count > 0 %>
    <%= render partial: 'links/list', locals: { links: @links } %>
    <div class="d-flex justify-content-center">
      <%== pagy_nav_bootstrap(@pagy) %>
    </div>
   <% else %>
    There are no videos tagged with <%= link_to @tag.full_name, @tag, class: 'tag' %> Add one <%= link_to 'here', new_link_path %>.
  <% end %>
  
</div>

<!-- sidebars -->
<div class="col-md-4">
  <div class="card my-4">
    <h5 class="card-header">Related Stuff</h5>
    <div class="card-body">
      This is where some tag shit will go.
    </div>
  </div>
</div>
