<table class="table">
  <thead>
    <tr>
      <th>State</th>
      <th>Gym Name</th>
      <th>Rating</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% gyms.each do |gym| %>
      <tr>
        <td><%= gym.aasm_state %></td>
        <td><%= link_to gym.name, gym %></td>
        <td><%= gym.average_stars %> stars (<%= pluralize(gym.total_times_rated, 'ratings') %>) / <%= pluralize(gym.reviews.count, 'review') %></td>
        <td>
          <%= button_to 'Publish', gym_publish_path(gym.id), method: :put unless gym.published? %>
          <%= button_to 'Unpublish', gym_unpublish_path(gym.id) if gym.published? %>
          <%= button_to 'Flag', gym_unpublish_path(gym.id) unless gym.flagged? %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
