<table class="table">
  <thead>
    <tr>
      <th>Gym Name</th>
      <th>Rating</th>
      <th>Primary Language</th>
      <th>Affiliation</th>
      <th>Location</th>
    </tr>
  </thead>

  <tbody>
    <% gyms.each do |gym| %>
      <tr>
        <td><%= link_to gym.name, gym %></td>
        <td>
          <%= gym.average_stars %> stars (<%= pluralize(gym.total_times_rated, 'ratings') %>)
        </td>
        <td><%= gym.primary_language if gym.primary_language.present? %></td>
        <td><%= gym.affiliation if gym.affiliation.present? %></td>
        <td>
          <%= gym.pretty_city_state_country if gym.pretty_city_state_country.present? %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
