<div class="col">
  <h1 class="mt-4">Grip Advisor</h1>
  <div class="row">
    <div class="col">
      <p>
        Grip Advisor is a place where you can review gyms and add your own personal feel.
        We want to help travelers find out what visitng a gym might be like for them.
        Languages, tags, ratings, and other non-address information is a result of user reviews.
      </p>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-1">&nbsp;</div>
    <div class="col-10">
      <div id="map" style="width:100%;height:350px;">
      <% provide :head_tags do %>
          <meta name='turbolinks-visit-control' content='reload'>
          <script>
            document.addEventListener("DOMContentLoaded", function(){
              gymMarkers = <%= @all_gyms %>;
              var map = initIndexMapWithMarkers();
            });
          </script>
      <% end %>
      </div>
    </div>
    <div class="col-1">&nbsp;</div>
  </div> 

  <div class="row mt-2">
    <div class="col">
      <%= form_with url: search_gyms_path, method: :get do |f|%>
        <div class="form-group row">
          <div class="col-2">
            <label class="col-form-label col-1 text-right"><h5>Search</h5></label>
          </div>
          <div class="col-10">
            <%= f.text_field :gym_search, class: 'form-control' %>
            <div style="display:none;"><%= f.submit id: 'submit-search' %></div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col text-right pt-2">
      <% if current_user %>
        <p>
          Don't see the gym you visited, <%= link_to 'Add It', new_gym_path, class: 'btn btn-primary btn-sm' %>.
        </p>
      <% end %>
    </div>
  </div>


  <div id="gym-display"><%= render partial: 'gyms/list', locals: { gyms: @gyms } %></div>

  <div id="pages-nav" class="d-flex justify-content-center">
    <%== pagy_nav_bootstrap(@pagy) %>
  </div>
  
  <% if @current_user %>
    <%= link_to 'New Gym', new_gym_path, class: 'btn btn-primary btn-large mt-1' %>
  <% end %>

</div>
