<% title @gym.name %>
<% description truncate(@gym.name, length: 254, separator: /\w+/) %>

<div class="col-12">

  <%= link_to 'Back', gyms_path %>
  <% if current_user and current_user.admin? %>
    | <%= link_to 'Edit', edit_gym_path(@gym) %>
  <% end %>

  <h1 class="mt-2"><%= @gym.name %></h1>

  <%= render partial: 'gyms/gym_header', locals: { gym: @gym } %>
  <hr />

  <h2 class="mt-4"><%= pluralize(@reviews.count, 'Review') %></h2>
  <p class="p-1" style="border:2px solid gray;width:60%;">
  We aren't publically showing the actual review body text right now.
  The goal is to get a general idea of the gym without getting specific bias.
  The reviews may become public in the future.
  </p>
  <% if current_user %>
    <% if @gym.reviewed_by?(current_user) %>
      You have already reviewed this gym. Would you like to <%= link_to 'update your review', edit_review_path(@gym.current_user_review_id(current_user)) %>?
    <% else %>
      <%= render partial: 'reviews/form', locals: { review: @review } %>
    <% end %>
  <% else %>
    Must be logged in to review a gym.<br />
    <br />
  <% end %>

</div>
