<% title @gym.name %>
<% description truncate(@gym.name, length: 254, separator: /\w+/) %>

<div class="col-12">
  <h1 class="mt-4"><%= @gym.name %></h1>

  <%= render partial: 'gyms/gym_header', locals: { gym: @gym } %>
  <hr />

  <h2 class="mt-4"><%= pluralize(@reviews.count, 'Review') %></h2>
  <% if current_user %>
    <% if @gym.reviewed_by?(current_user) %>
      You have already reviewed this gym. Would you like to <%= link_to 'update your review', edit_review_path(@gym.current_user_review_id(current_user)) %>?
    <% else %>
      <%= render partial: 'reviews/form', locals: { review: @review } %>
    <% end %>
  <% else %>
    Must be logged in to review a gym.<br />
    <br />
  <% end %>

</div>
