<div class="col">
  <h1 class="mt-4">Translations</h1>

  <div class="container border">
    <div class="row border-bottom-0">
      <div class="col text-center"><h3><%= TranslationTerm::LANGUAGES[params[:src].to_sym] %></h3></div>
      <div class="col text-center"><h3>English</h3></div>
      <div class="col text-center"><h3><%= TranslationTerm::LANGUAGES[params[:dst].to_sym] %></h3></div>
    </div>

    <% @chart.each do |term| %>
      <div class="row border-top">
        <div class="col text-center"> <%= term["src_body"] %> </div>
        <div class="col text-center border-left border-right"> <%= term["en_body"] %> </div>
        <div class="col text-center"> <%= term["dst_body"] %> </div>
      </div>
    <% end %>

</div>
