<div class="col">
  <h1 class="mt-4">Translations</h1>

  <h3 class="mt-4">Src</h3>
  <% @src.each do |term| %>
    <span><%= term %>
  <% end %>

  <h3 class="mt-4">Dst</h3>
  <table>
    <thead>
      <th>Source Language</th>
      <th>Source Body</th>
      <th>Destination Language</th>
      <th>Destination Body</th>
    </thead>
  <% @dst.each do |term| %>
    <tr>
      <td><%= term["src_language"] %></td>
      <td><%= term["src_body"] %></td>
      <td><%= term["dst_language"] %></td>
      <td><%= term["dst_body"] %></td>
    </tr>
  <% end %>
  </table>
</div>
