<%= form_with(model: private_note, local: true) do |form| %>
  <% if private_note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(private_note.errors.count, "error") %> stopped you from saving your note:</h2>

      <ul>
      <% private_note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      <div class="form-group form-row">
        <div class="col-2">
          <%= form.label :title, class: 'col-form-label' %>
        </div>
        <div class="col-10">
          <%= form.text_field :title, id: :private_note_title, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group form-row">
        <div class="col-2">
          <%= form.label :Note, class: 'col-form-label' %>
        </div>
        <div class="col-10">
          <%= form.text_area :body, id: :private_note_body, class: 'form-control' %>
        </div>
      </div>

      <%= form.hidden_field :user_id, value: current_user.id %>
      <%= form.hidden_field :link_id %>

      <div class="form-group form-row">
        <div class="col-2">
        </div>
        <div class="col-10">
          <%= form.submit :Submit, class: 'btn btn-primary btn-block float-right' %>
        </div>
      </div>
<% end %>
