<div class="col">
  <h1 class="mt-4">My Notebook</h1>

    <%= form_with url: search_private_notes_path, method: :get do |f|%>
      <h6>Search My Notebook &nbsp; <%= f.text_field :private_note_search %></h6>
    <div style="display:none;"><%= f.submit id: 'submit-search' %></div>
  <% end %>

  <div id="private_note-display"><%= render partial: 'private_notes/notebook_list', locals: { private_notes: @private_notes } %></div>

  <div class="row">
    <div class="col">
      <div id="pagy-div" class="d-flex justify-content-center">
        <%== pagy_nav_bootstrap(@pagy) %>
      </div>
    </div>
  </div>

</div>
