<%= form_with(model: review, local: true) do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card my-4">
    <h5 class="card-header">Share your Thoughts</h5>

    <div class="card-body">
      <div class="form-group form-check-inline row">
        <div class="col-5">
          <strong>When were you here?</strong>
          <%= form.date_field :drop_in_date %>
        </div>
        <div class="col-2">
          <strong>OR</strong>
        </div>
        <div class="col-5">
          <%= form.check_box :home_gym, :class => 'form-check-input' %> I train here regularly
        </div>
      </div>

      <div class="form-row">
        <div class="col-2">
          <strong>Drop-in fee?</strong><br />
          <small class="ml-2">Leave blank for none</small>
        </div>
        <div class="col-1">
          <%= form.text_field :drop_in_fee, :class => 'form-control' %>
        </div>
        <div class="col mt-1">
          <%= form.select :drop_in_fee_currency, Review.currency_codes %>
        </div>
      </div>

      <div class="row form-group mt-2">
        <div class="col-2">
          <strong>How was the gym?</strong><br />
          <small>5 is best</small>
        </div>
        <div class="col-2 starrating d-flex justify-content-start flex-row-reverse align-items-start mr-2">
          <input type="radio" id="star5" name="review[stars]" value="5" /><label for="star5" title="5 star"></label>
          <input type="radio" id="star4" name="review[stars]" value="4" /><label for="star4" title="4 star"></label>
          <input type="radio" id="star3" name="review[stars]" value="3" /><label for="star3" title="3 star"></label>
          <input type="radio" id="star2" name="review[stars]" value="2" /><label for="star2" title="2 star"></label>
          <input type="radio" id="star1" name="review[stars]" value="1" /><label for="star1" title="1 star"></label>
        </div>
        <div class="col">&nbsp;</div>
      </div>

      <div class="form-group row">
        <div class="col-2">
          <strong>How were the rolls?</strong><br />
          <small>What type of sparring did most people do?</small>
        </div>
        <div class="col form-check-inline">
          <small class="ml-2 mr-1">Flow Rolls</small>
          &nbsp; <%= form.radio_button :roll_type, '1', :class => 'form-check-input' %> 1
          &nbsp; <%= form.radio_button :roll_type, '2', :class => 'form-check-input' %> 2
          &nbsp; <%= form.radio_button :roll_type, '3', :class => 'form-check-input' %> 3
          &nbsp; <%= form.radio_button :roll_type, '4', :class => 'form-check-input' %> 4
          &nbsp; <%= form.radio_button :roll_type, '5', :class => 'form-check-input' %> 5
          <small class="ml-1">Competition Rolls</small>
        </div>
      </div>

      <div class="form-group row mt-3">
        <div class="col-2">
          <strong>Languages</strong><br />
          <small>Which languages are used here?</small>
        </div>
        <div class="col-10">
          <%= form.select :languages,
            Review::Languages.sort,
              { },
              { multiple: true }
          %>
        </div>
      </div>

      <div class="form-group row mt-3">
        <div class="col-2">
          <strong>Languages</strong><br />
          <small>Add some tags that describe the gym experience.</small>
        </div>
        <div class="col-10">
          <%= form.select :tags,
            Review::Tags.sort,
              { },
              { multiple: true }
            %>
        </div> 
      </div>

      <div class="form-group">
        <strong>Review <small>(optional)</small></strong>
        <small id="review_body_help" class="form-text text-muted">The review text is completely optional. Your review should be helpful to others.</small>
        <%= form.text_area :body, id: :review_body, :rows => 4, class: 'form-control' %>
      </div>

      <%= form.hidden_field :user_id, value: current_user.id %>
      <%= form.hidden_field :gym_id, value: @gym.id %>

      <div class="form-group">
        <%= form.submit :Submit, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
