<div class="row">
  <div class="col-8 ml-2">
    <% if current_user and current_user.id == review.user_id %>
      <div>
        <p>
          Actions:
          <%= link_to 'Edit', edit_review_path(review) %> | 
          <%= link_to 'Delete', review_path(review), method: :delete, data: { confirm: 'Are you sure?' } %>
        </p>
      </div>
    <% end %>

    <% if review.home_gym == true %>
      <strong>Home Gym</strong><br />
    <% end %>
    <strong>Stars</strong>: <%= review.stars %><br />
    <strong>Posted by</strong>:
      <%= link_to review.user.name, review.user %>,
      <%= review.user.gender if review.user.gender %>
      <%= review.user.belt if review.user.belt %>
    <p><strong>Review</strong>: <%= review.body %></p>
    <p>last updated <%= time_ago_in_words(review.updated_at) %> ago</p>
  </div>
</div>
