<div class="row">
  <div class="col-8 ml-2">

    <h2 class="mt-1 mb-3">My Review</h2>

    <% if current_user and current_user.id == review.user_id %>
      <div class="row mb-2">
        <div class="col">
          Actions:
          <%= link_to 'Edit', edit_review_path(review) %> | 
          <%= link_to 'Delete', review_path(review), method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    <% end %>

    <% if review.home_gym == true %>
      <div class="row">
        <div class="col">
          This is my <strong>Home Gym</strong>.
        </div>
      </div>
    <% end %>

    <% if review.drop_in_date.present? %>
      <div class="row">
        <div class="col">
          <strong>Dropped In On</strong>:
          <%= review.drop_in_date.strftime("%b %d, %Y") %>
          (<%= time_ago_in_words(review.drop_in_date) %> ago)
        </div>
      </div>
    <% end %>

    <div class="row">
      <div class="col">
        <strong>Stars</strong>: <%= review.stars %><br />
      </div>
    </div>

    <% if review.drop_in_fee.present? %>
      <div class="row">
        <div class="col">
          <strong>Drop In Fee</strong>:
          <%= review.drop_in_fee.currency.symbol %> <%= review.drop_in_fee %> (<%= review.drop_in_fee.currency.iso_code %>)
        </div>
      </div>
    <% end %>

    <div class="row">
      <div class="col">
        <strong>Posted by</strong>:
        <%= review.user.gender if review.user.gender %>
        <%= "#{review.user.belt.titleize} belt" if review.user.belt %>
      </div>
    </div>

    <% if review.tags.present? %>
    <div class="row align-items-start mt-2">
      <div class="col">
        <strong>Tags</strong>:
          <% review.tags.sort_by {|k,v| v}.reverse.each do |k,v| %>
            <button type="button" class="btn btn-secondary pl-2 ml-1 mb-1">
              <%= k %> <small>x</small> <span class="badge badge-light"><%= v %></span>
            </button>
          <% end %>
      </div>
    </div>
    <% end %>

    <% if review.languages.present? %>
    <div class="row align-items-end mt-2">
      <div class="col">
        <strong>Languages</strong>:
          <% review.languages.sort_by {|k,v| v}.reverse.each do |k,v| %>
            <button type="button" class="btn btn-secondary pl-2 ml-1 mb-1">
              <%= k %> <small>x</small> <span class="badge badge-light"><%= v %></span>
            </button>
      <% end %>
      </div>
    </div>
    <% end %>

    <p><strong>Review</strong>: <%= review.body %></p>
    <p>last updated <%= time_ago_in_words(review.updated_at) %> ago</p>
  </div>
</div>
