<li class='nav-item'><%= link_to 'Dashboard', root_path, class: 'nav-link' %></li>
<% if current_user %>
  <li class='nav-item'><%= link_to 'My Notebook', notebook_path, class: 'nav-link' %></li>
<% end %>
<li class='nav-item'><%= link_to 'Videos', links_path, class: 'nav-link' %></li>
<li class='nav-item'><%= link_to 'Tags', tags_path, class: 'nav-link' %></li>
<li class='nav-item'><%= link_to 'Instructors', instructors_path, class: 'nav-link' %></li>
<li class='nav-item'><%= link_to 'Translations', translations_path, class: 'nav-link' %></li>
<li class='nav-item'><%= link_to 'About', page_path('about'), class: 'nav-link' %></li>
