  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
    <div class="dropdown-menu">
      <%= link_to 'Users', users_path, class: 'dropdown-item' %>
      <%= link_to 'Gyms', gyms_admin_index_path, class: 'dropdown-item' %>
      <%= link_to 'Videos w/o Instructors', links_without_instructors_path, class: 'dropdown-item' %>
      <%= link_to 'Videos by Tags', links_tag_filter_path, class: 'dropdown-item' %>
      <%= link_to 'Private Notes', private_notes_path, class: 'dropdown-item' %>
      <%= link_to 'Site Stats', stats_site_path, class: 'dropdown-item' %>
    </div>
  </li>
