<% if user_signed_in? %>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Account</a>
    <div class="dropdown-menu">
      <%= link_to 'My Profile', user_path(current_user.id), class: 'dropdown-item' %>
      <%= link_to 'My Reviews', user_reviews_path(current_user.id), class: 'dropdown-item' %>
      <%= link_to 'My Favorites', user_favorites_path(current_user.id), class: 'dropdown-item' %>
      <%= link_to 'Edit Account', edit_user_registration_path, class: 'dropdown-item' %>
      <%= link_to 'Sign out', destroy_user_session_path, :method=>'delete', class: 'dropdown-item' %>
    </div>
  </li>
<% else %>
  <li class='nav-item'><%= link_to 'Sign in', new_user_session_path, class: 'nav-link' %></li>
  <li class='nav-item'><%= link_to 'Register', new_user_registration_path, class: 'nav-link' %></li>
<% end %>


<% if user_signed_in? %>
  <% if current_user.admin? %>
    <%= render 'layouts/nav_links_for_admin' %>
  <% end %>
  <% if current_user.moderator? %>
    <%= render 'layouts/nav_links_for_moderator' %>
  <% end %>
<% end %>
