<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Bjjdb" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Bjjdb" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
      <div class="container">
        <div class="row">
          <div class="col">
            <%= render 'layouts/messages' %>
          </div>
        </div>
       <div class="row">
         <%= yield %>
       </div>
      </div>
    </main>

    <!-- Footer -->
    <footer class="page-footer font-small mt-3">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="footer-copyright text-center py-5 bg-primary">© 2018 Copyright:
              <a href="https://eric.lubow.org/bjjdb/">BJJ DB</a>
            </div>
           </div>
        </div>
      </div>
    </footer>

  </body>
</html>
